<h2>Created Decks</h2>
<ul>
  <% @decks.each do |d| %>
    <li><h4><%= link_to "#{d.name}(#{d.num_cards})", deck_path(d) %></h4></li>
    <ul><li>created by:<%= d.user.username %> </li></ul>
  <% end %>
</ul>

<% if current_user %>
	<%= link_to "New Deck", new_user_deck_path(current_user) %>
<% end %>
